.fundo3 {
    width: 139.5vh;
    height: 102vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #4051b0, rgb(49, 185, 162));

}

.menu{
    background-color: #f0f8ff;
    padding: 2em;
    border-radius: 15px;
}
*{
    margin: 0px;
    box-sizing: border-box;
}
