.fundo6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #3f9eaf, #ba323d);

}

.box1{
    background-color: #ffffff;
    padding: 3em;
    border-radius: 10px;
}
input{
    
    margin: 5px;
}
button{
    margin: 10px;
}