.fundo4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #55af3f, #ba3254);

}

.box2{
    background-color: #ffffff;
    padding: 3em;
    border-radius: 10px;
}
input{
    
    margin: 5px;
}
button{
    margin: 10px;
}