.fundo1 {
    width: 139.5vh;
    height: 102vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #3F93AF, #BA3272);

}
div{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
